.mat-toolbar {
  background-color: #4285f4;
}

.brand {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: white;
}
.avatar-button {
  background-color: #023869;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-color: black;
}
.user-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
