<div>
  <div>
    <h4>Check console for outputs</h4>
    <button mat-stroked-button (click)="explainObservable()">
      Explain Observable
    </button>
    <button mat-stroked-button (click)="explainCombineLatest()">
      Explain combineLatest
    </button>
    <button mat-stroked-button (click)="simulateAuthService()">
      Simulate AuthService
    </button>
    <button mat-stroked-button (click)="simulateCompleteAuthGuardFlow()">
      Full AuthGuard Flow
    </button>
    <button mat-stroked-button (click)="explainPipeAndOperators()">
      Explain Pipe and Operators
    </button>
  </div>
  <div class="child-component">
    <app-permission-list
      title="Sample child component"
      [availablePermissions]="permissions"
      [readonly]="true"
    ></app-permission-list>
  </div>
</div>
