<mat-card class="user-perms">
  <mat-card-title>User Permissions</mat-card-title>

  <mat-form-field appearance="fill">
    <mat-label>Select user</mat-label>
    <mat-select
      [value]="selectedUserId"
      (selectionChange)="onUserChange($event.value)"
    >
      <mat-option value="">-- Select a user --</mat-option>
      <mat-option *ngFor="let user of users$ | async" [value]="user.userId">
        {{ getUserDisplayName(user) }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedUser">
    <div *ngIf="allPermissions$ | async as allPermissions">
      <app-permission-list
        [title]="'Permissions for ' + (selectedUser.userName | uppercase)"
        [availablePermissions]="allPermissions"
        [selectedPermissions]="currentPermissions"
        (selectedPermissionsChange)="onPermissionsChanged($event)"
        [readonly]="loading"
      >
      </app-permission-list>
    </div>

    <button
      mat-flat-button
      class="save-button"
      (click)="saveChanges()"
      [disabled]="!hasChanges || loading"
    >
      {{ loading ? "Saving…" : "Save Changes" }}
    </button>
  </div>
</mat-card>
