.work-orders-container {
  margin-top: 20px;
}

h1 {
  margin-bottom: 20px;
}

.work-orders-table {
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
}

.mat-column-orderId,
.mat-column-customer,
.mat-column-date,
.mat-column-status {
  border-left: 1px solid #ccc;
}

.table-header {
  font-weight: bolder;
}

.status-trigger {
  all: unset;
  cursor: pointer;
}

.status-chip {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  padding: 4px 16px;
  border-radius: 10px;
  min-width: 100px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
  height: 20px;
}

.status-menu {
  background-color: white;
  border-radius: 6px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  gap: 6px;
}

::ng-deep .status-menu .mat-mdc-menu-content {
  padding: 10px;
  display: flex !important;
  flex-direction: column !important;
}

.status-option-chip {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  padding: 6px 14px;
  border-radius: 10px;
  margin: 4px 0;
  display: inline-block;
}

.mat-mdc-standard-chip {
  height: 30px;
}
.mat-mdc-standard-chip.status-chip.pending {
  background-color: #fff9c4 !important;
  color: #f57f17 !important;
  border: 1px solid #f57f17 !important;
}

.mat-mdc-standard-chip.status-chip.approved {
  background-color: #c8e6c9 !important;
  color: #2e7d32 !important;
  border: 1px solid #2e7d32 !important;
}

.mat-mdc-standard-chip.status-chip.rejected {
  background-color: #ffcdd2 !important;
  color: #c62828 !important;
  border: 1px solid #c62828 !important;
}

.mat-mdc-standard-chip.status-option-chip.pending {
  background-color: #fff9c4 !important;
  color: #f57f17 !important;
  border: 1px solid #f57f17 !important;
}

.mat-mdc-standard-chip.status-option-chip.approved {
  background-color: #c8e6c9 !important;
  color: #2e7d32 !important;
  border: 1px solid #2e7d32 !important;
}

.mat-mdc-standard-chip.status-option-chip.rejected {
  background-color: #ffcdd2 !important;
  color: #c62828 !important;
  border: 1px solid #c62828 !important;
}

.mdc-evolution-chip__cell--primary {
  flex-basis: auto;
}
